* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.container {
  width: 50%;
  margin: auto;
  background-color: ;
}

.form-cover {

}

.form-sizeqr {
  background-color: #f8f9f9;
  padding:  10px 0px 10px 5px;
}

.form-sizeqr select{
  margin: 0px 30px 0px 0px;
}

.row {
  border: 1px solid black;

}

.form-group{
  padding:  10px 10px 10px 5px;
}
